/* font claim */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?tomleg');
    src: url('../fonts/icomoon.ttf?tomleg') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.mid {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}


/* shortcut */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(2n) {
    width: 1px;
    height: 12px;
    margin: 9px 15px 0;
    background-color: #666;
}

.arrow_down::after {
    margin-left: 3px;
    font-family: 'icomoon';
    content: "\e91e";
}


/* header */

.header {
    position: relative;
    height: 105px;
}

.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 8px;
}

.cart {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
}

.cart a::before {
    font-family: 'icomoon';
    content: "\e93a";
    margin-right: 5px;
    color: #b1191a;
}

.cart a::after {
    font-family: 'icomoon';
    content: "\e920";
    margin-left: 6px;
}

.message {
    position: absolute;
    line-height: 14px;
    top: -5px;
    left: 105px;
    height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
    font-size: 12px;
}


/* nav */

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
}

.dropdown .dd {
    width: 210px;
    height: 465px;
    margin-top: 2px;
    background-color: #c81623;
}

.dropdown .dd ul li {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
    cursor: pointer;
}

.dropdown .dd ul li::after {
    float: right;
    font-family: "icomoon";
    content: "\e920";
    padding-right: 10px;
    font-size: 14px;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}


/* footer */

footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    float: left;
    padding-left: 35px;
    width: 240px;
    height: 50px;
}

.mod_service ul li h5 {
    float: left;
    height: 50px;
    width: 50px;
    background: url(..//imgs/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
}

#spirit_2 {
    background-position: -254px -54px;
}

#spirit_3 {
    background-position: -257px -105px;
}

#spirit_4 {
    background-position: -257px -157px;
}

#spirit_5 {
    background-position: -257px -208px;
}

.mod_service ul li div h4 {
    padding-top: 5px;
    font-size: 14px;
}

.mod_service ul li div p {
    font-size: 12px;
}

.help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.help dl {
    float: left;
    width: 200px;
}

.help dl:last-child {
    float: left;
    width: 90px;
    text-align: center;
}

.help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.copyright {
    padding-top: 20px;
    text-align: center;
}

.copyright .links {
    margin-bottom: 15px;
}

.links a {
    padding: 0 8px;
    border-left: 1px solid #cfcfcf;
    text-align: center;
}

.links a:first-child {
    border-left: none;
}

.help img {
    height: 100px;
    width: 100px;
}

.add {
    line-height: 20px;
    font-size: 13px;
}